<div class='car col-6 offset-3' style="background-color: rgb(70, 68, 67); color:rgb(246, 216, 23); width: 50%">
  <div class='card-body'>
    <div style="justify-content: center; text-align: center">
      <img src="./assets/images/logo-bg.png" style="width: 40%" />
    </div>
    <div class='card-title'>
      <h3>{{pageTitle}}</h3>
    </div>
    <p>This site is a personal project created while studing Angular and Java.
    </p>
    <p>I started learning JAVA 17, then Spring Boot and created some Rest API, but I could only see the results using POSTMAN.</p>
    <p>I thought, what about learning some front-end framework? So I could see better the result. Then I started learning ANGULAR.</p>

    <p>The first part of the project was: Create a REST API with a CRUD with one table called Beers</p>
    <p>The Fron-End is this about page and a List of Beers where you can access the detail.</p>
    <P>After I finished Angular Forms, I created the "Add Beer" and added the delete and Update functions.</P>
    <p><b>Front End:</b>  </p>
    <ul>
      <li>Angular - HTML, CSS, TypeScript and JavaScript</li>
      <li>BootStrap</li>
      <li>FontAwesome</li>
    </ul>  
    <h5><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/joaocarlospinto/beerprojectfrontend" style="color:rgb(246, 216, 23)">You can find the Front End code in this repository </a></h5>
    
    <p></p>
    <p><b>Back End :</b> API Rest</p>
    <ul>
      <li>Java</li>
      <li>Spring Boot</li>
      <li>JPA</li>
      <li>H2 database</li>
      <li>Hateoas</li>
    </ul>  
    
    <p></p>
    <h5><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/joaocarlospinto/beerprojectapi" style="color:rgb(246, 216, 23)">You can find the Back End code in this repository</a></h5>
    <p></p>
    <div class='card-text'><h5>Developed by: Joao Carlos Pinto</h5></div>
    <div class='card-text'>
      <h5><i class="fa fa-github" aria-hidden="true"></i><a href='https://github.com/joaocarlospinto' style="color:rgb(246, 216, 23)">github</a></h5>
    </div>
    <div class='card-text'>
      <a href='https://www.linkedin.com/in/joao-pinto-49a9381a/' style="color:rgb(246, 216, 23)"><h5><i class="fa fa-linkedin-square" aria-hidden="true"></i></h5></a>
    </div>
    
  </div>
</div>

