<div class='car col-6 offset-3' style="background-color: rgb(70, 68, 67); color:rgb(246, 216, 23); width: 50%">
  <div class='card-body'>
    <div style="justify-content: center; text-align: center">
      <img src="./assets/images/logo-bg.png" style="width: 40%" />
    </div>
    <div class='card-title'>
      <h3>{{pageTitle}}</h3>
    </div>
    <p>This site is a personal project created while studing Angular and Java.
    </p>
    <p>I started learning JAVA 17, then Spring Boot and created some Rest API, but I could only see the results using POSTMAN.</p>
    <p>I thought, what about learning some front-end framework? So I could see better the result. Then I started learning ANGULAR.</p>

    <p>The first part of the project was: Create a REST API with a CRUD with one table called Beers</p>
    <p>The Fron-End is this about page and a List of Beers where you can access the detail.</p>
    <P>After I finished Angular Forms, I created the "Add Beer" and added the delete and Update functions.</P>
    <p><b>Front End:</b> Angular </p>
    <p><b>Back End :</b> API Rest Java and Spring Boot</p>
    <p></p>

    <div class='card-text'>Developed by: Joao Carlos Pinto</div>
    <div class='card-text'>
      <a href='https://github.com/joaocarlospinto' style="color:rgb(246, 216, 23)">github</a>
    </div>

  </div>
</div>

